<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/windows_style.css">
    <title>{{title}}</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body background="/static/img/backGround.jpg" style="margin-top:0px">
<header style="background-color: #e3f2fd;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>ProSpace</b></a>
          {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
              {% if current_user.type == 2 %}
              <a style="margin-right: 15px" class="nav-link active" aria-current="page" href="/lesson">
                  <b>Создать урок</b>
              </a>
            {% endif %}
              <a style="margin-right: 15px" class="nav-link active" aria-current="page" href="/chat/0"><b>Чаты</b></a>
            <a style="margin-right: 15px" class="nav-link active" aria-current="page" href="/authors"><b>Авторы</b></a>
            <a class="nav-link active" aria-current="page" href="/settings"><b>Личный кабинет</b></a>
          </div>
          {% else %}
          <div class="collapse navbar-collapse">
              <p>
                  <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                  <a class="btn btn-success" href="/login">Войти</a>
              </p>
          </div>
          {% endif %}
        </div>
         {% if url == '/' or '/search' in url %}
            <form method="post" class="d-flex" role="search" enctype="multipart/form-data" action="">
                {{ form.hidden_tag() }}
                {{ form.search(class="form-control") }}
                {{form.submit(type="submit", class="btn btn-primary")}}
                <!--
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
                -->
                {% for error in form.search.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </form>
            {% endif %}
      </div>
    </nav>
</header>
<a href="#" id="main" class="col-md6 border rounded">
    <div id="okno">
        Всплывающее окошко!
    </div>
</a>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>