{% extends "base.html" %}

{% block content %}
<div class="border rounded" style="padding:1% 1%; margin:1% 2%; background: white;">
    <h1>{{title}}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(class="form-control") }}<br>
            {% for error in form.url.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <h6 style="color: red;">{{message}}</h6>
    </form>
</div>
{% endblock %}