{% extends "base.html" %}

{% block content %}
<div style="padding:1% 1%; margin:1% 2%">

</div>
<h1>Предложения обмена</h1>
{% for item in lessons%}
{% if ((search['title'] in item.title.lower() or not search['title']) and
(search['author'] == item.user.email or not search['author']))%}
    <div class="col-md6 border rounded" style="padding:1% 2%; margin:1% 2%; background: white;">
        <div class="row align-items-center">
            <div class="col-8">
                <h2 style="cursor: pointer; margin-top:0px" onclick="location.href='/lesson/{{item.id}}';">
                    {{item.title}}
                </h2>
                Автор - {{item.user.name}}, Дата написания - {{item.modified_date.strftime("%m-%d-%Y %H:%M")}}
                <div>
                    Почта:  {{item.user.email}}
                </div>
                {% if current_user.is_authenticated and current_user == item.user %}
                <div>
                    <a href="/lesson/edit/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/lesson_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
                {% else %}
                {% if current_user.is_authenticated %}
                <div class="col-2">
                    <a href="/chat/{{ item.user.id }}" class="btn btn-success">
                        Чат с пользователем
                    </a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}

{% endblock %}