{% extends "base.html" %}
{% block content %}
<link href="/static/styles/windows_style.css">
<div class="col-md12 border rounded" style="padding:1% 2%; margin:1% 2%; background: white;">
    <div style="font-size:x-large;">
        <h1>{{lesson.title}}</h1>
        <b>
            <p style="font-size: 32px">
                Конспект урока:
            </p>
        </b>
        {% for line in lesson.content.split("\n")%}
        {{line}}
        <br>
        {% endfor %}
        {% for video in url_videos%}
        {% if loop.first %}
        <b>
            <p style="font-size: 32px">
                Видеоматериалы к уроку:
            </p></b>
        {% endif %}
        <iframe width="392" height="220" src="https://www.youtube.com/embed/{{video}}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
        {% endfor %}
    </div>
    <div style="font-size:x-large;">
        <b>
            <p style="font-size: 32px">
                Учитель:
            </p>
        </b>
        <img height="50px" width="50px" alt="avatar"
             class="rounded-circle" src="{{url_for('static', filename=lesson.user.avatar[7:])}}">
        {{lesson.user.name}}
        {{lesson.user.surname}}
        <br>
        {{lesson.user.email}}
    </div>
    {% if current_user.is_authenticated %}
    {% if current_user.id != lesson.user.id %}
    <div class="col-2 center">
        <a href="/chat/{{ lesson.user.id }}" class="btn btn-success">
            Чат с пользователем
        </a>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}