{% extends "base.html" %}
{% block content %}
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/styles/chat_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="col-md6 border rounded" style="padding:1% 2%; margin:1% 2%; background: white;">
    <div class="row" style="margin: 10px">
        <div class="col-10">
            <h1>Наcтройки</h1>
        </div>
        <div class="col-2">
            <a class="btn btn-success" href="/">Вернуться</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img alt="avatar" class="rounded-circle" src="{{ user.avatar }}">
        </div>
        <div class="col-3">
            <h2>Имя: {{user.name}}</h2>
            <h2>Фамилия: {{user.surname}}</h2>
            <h2>Возраст: {{user.age}}</h2>
            {% if user.type == 1 %}
            <h2>Рейтинг: {{user.count}}</h2>
            {% endif%}
        </div>
        <div class="col-7">
            <h2>Почта: {{user.email}}</h2>
            {% if user.type == 1 %}
            <h2>Должность: Ученик</h2>
            {% else %}
            <h2>Должность: Учитель</h2>
            {% endif%}
        </div>
    </div>
    <br>
    <a class="btn btn-danger" href="/logout">Выйти</a>
    <a class="btn btn-warning" href="/settings/delete">Удалить аккаунт</a>
    <a class="btn btn-success" href="/settings/edit">Изменить</a>
    {% if user.type == 2 %}
    <a class="btn btn-secondary" href="/search/&{{user.email}}">Посмотреть мои уроки</a>
    <a class="btn btn-info" href="/tasks">Назначить задания</a>
    {% else %}
    <a class="btn btn-secondary" href="/tasks">Посмотреть мои задания</a>
    {% endif %}
</div>
{% endblock %}